In [54]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
file_path = "auto-mpg.csv"

data = pd.read_csv(file_path)

In [4]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [45]:
X = data.iloc[:, 1:-1]
y = data.iloc[:, 0]

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

'''train, valid = train_test_split(data, test_size=0.2)

y_train = train.iloc[:, 0] 
y_valid = valid.iloc[:, 0]
X_train = train.iloc[:, 1:-1]
X_valid = valid.iloc[:, 1:-1]'''

'train, valid = train_test_split(data, test_size=0.2)\n\ny_train = train.iloc[:, 0] \ny_valid = valid.iloc[:, 0]\nX_train = train.iloc[:, 1:-1]\nX_valid = valid.iloc[:, 1:-1]'

In [57]:
X_train = X_train.apply(pd.to_numeric)

scaler = StandardScaler()

X_train_normalized = scaler.fit_transform(X_train)

print(X_train_normalized)

[[-0.84117953 -1.00511807 -0.75662835 ... -0.37375262 -1.37752888
   0.51673004]
 [-0.84117953 -0.91313892 -0.64964079 ...  0.54247721 -1.10340236
  -0.7281196 ]
 [-0.84117953 -0.97607202 -0.97060346 ...  0.98226753  1.63786287
   1.76157967]
 ...
 [-0.84117953 -0.50165325 -0.43566568 ...  0.65242479  0.8154833
  -0.7281196 ]
 [-0.84117953 -0.55974534 -0.24843745 ... -0.26380504  0.54135678
   1.76157967]
 [ 0.33204455 -0.18214673  0.28650033 ... -1.54652681  0.8154833
  -0.7281196 ]]