In [1]:
import pandas as pd
import numpy as np

In [22]:
file_path = "auto-mpg.csv"

data = pd.read_csv(file_path)

In [23]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [24]:
#csv dataset error fix
for index, value in enumerate(data["horsepower"]):
        if value == "?":  # Verifica se o valor é "?"
            data.at[index, "horsepower"] = None  # Substitui por NaN
            data = data.dropna() #Apaga as linhas que contém NaN
data["horsepower"] = pd.to_numeric(data["horsepower"], errors='coerce')

In [ ]:
#using sckit-learn to split the dataset
'''from sklearn.model_selection import train_test_split

X = data.iloc[:, 1:-1]
y = data.iloc[:, 0]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)'''

'train, valid = train_test_split(data, test_size=0.2)\n\ny_train = train.iloc[:, 0] \ny_valid = valid.iloc[:, 0]\nX_train = train.iloc[:, 1:-1]\nX_valid = valid.iloc[:, 1:-1]'

In [25]:
#using pandas to split the dataset
train_data = data.sample(frac=0.8, random_state=42)  
test_data = data.drop(train_data.index)   

X_train = train_data.iloc[:, 1:-1]
y_train = train_data.iloc[:, 0]

X_test = test_data.iloc[:, 1:-1]
y_test = test_data.iloc[:, 0]

In [28]:
#using sckit-learn to normalize input data
'''from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_normalized = scaler.fit_transform(X_train)

print(X_train_normalized)'''

'from sklearn.preprocessing import StandardScaler\n\nscaler = StandardScaler()\n\nX_train_normalized = scaler.fit_transform(X_train)\n\nprint(X_train_normalized)'

In [26]:
#using tensorflow to normalize input data
import tensorflow as tf

normalizer = tf.keras.layers.Normalization()
normalizer.adapt(np.array(X_train))
data_normalized = normalizer(np.array(X_train))

print(data_normalized)

tf.Tensor(
[[-0.88715637 -0.95789546 -0.9342474  ...  0.8892784  -1.0618277
   0.5208975 ]
 [-0.88715637 -0.72278315  0.22814986 ...  0.06758328  0.5672305
   0.5208975 ]
 [-0.88715637 -1.004918   -1.161673   ...  0.31766433  0.5672305
   1.7600023 ]
 ...
 [-0.88715637 -0.5911203  -0.5552048  ... -0.9327412   1.3817596
  -0.71820724]
 [-0.88715637 -0.9390865  -0.5804743  ...  0.13903496  0.29572085
  -0.71820724]
 [-0.88715637 -0.7321877  -0.45412678 ...  2.2825873   0.02421116
   0.5208975 ]], shape=(314, 7), dtype=float32)